body {
  background-color: black;
}

.container {
  max-width: 800px;
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(103, 103, 103);
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 0 0 5px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 4px;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {/*removes any css format if it's a duplicated code format on the html*/
  border: none;
}

.time {
  font-size: 36px;
  font-weight: normal;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

.date {
  opacity: 0.7;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
