body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  box-shadow: 5px 5px 5px rgb(103, 103, 103);
}

h1 {
  text-align: center;
}

select {
  display: block;
  width: 100%;
  padding: 2%;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 0;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 4px;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.date1 {
  opacity: 0.7;
}
.time1 {
  font-size: 36px;
  font-weight: normal;
}

.time1 small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

.date2 {
  opacity: 0.7;
}
.time2 {
  font-size: 36px;
  font-weight: normal;
}

.time2 small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

.date3 {
  opacity: 0.7;
}
.time3 {
  font-size: 36px;
  font-weight: normal;
}

.time3 small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  color: aliceblue;
  display: block;
  position: relative;
  margin-top: 10px;
}
